In [24]:
# Jupyter Notebook Ï†ÑÏö© ÏΩîÎìú
import pandas as pd
from pathlib import Path
import os

# 1. __file__ ÎåÄÏã† ÌòÑÏû¨ ÏûëÏóÖ Í≤ΩÎ°ú(os.getcwd)Î•º ÏÇ¨Ïö©ÌïòÍ±∞ÎÇò Ï†àÎåÄ Í≤ΩÎ°úÎ•º ÏßÅÏ†ë ÏûÖÎ†•
# Î∞©Î≤ï A: Ï†àÎåÄ Í≤ΩÎ°ú ÏßÅÏ†ë ÏûÖÎ†• (Í∞ÄÏû• ÌôïÏã§)
project_root = Path("/Users/kimjiwoo/Documents/SKN23-2nd-3Team")

# Î∞©Î≤ï B: ÌòÑÏû¨ ÎÖ∏Ìä∏Î∂Å ÌååÏùº ÏúÑÏπò Í∏∞Ï§ÄÏúºÎ°ú Ï∞æÍ∏∞ (ÎÖ∏Ìä∏Î∂ÅÏù¥ app Ìè¥Îçî ÏïàÏóê ÏûàÎã§Î©¥)
# current_dir = Path(os.getcwd())
# project_root = current_dir.parent  # ÏÉÅÌô©Ïóê ÎßûÍ≤å .parent Í∞úÏàò Ï°∞Ï†à

# 2. Îç∞Ïù¥ÌÑ∞ Í≤ΩÎ°ú ÏÑ§Ï†ï
DATA_PATH = project_root / "data" / "processed" / "features_ml_clean.parquet"

print(f"üìÇ Í≤ΩÎ°ú ÌôïÏù∏: {DATA_PATH}")

# 3. Î°úÎìú ÌÖåÏä§Ìä∏
if DATA_PATH.exists():
    df = pd.read_parquet(DATA_PATH)
    print("‚úÖ Îç∞Ïù¥ÌÑ∞ Î°úÎìú ÏÑ±Í≥µ!")
    display(df.head()) # JupyterÏóêÏÑúÎäî display() ÏÇ¨Ïö©
else:
    print("‚ùå ÌååÏùºÏùÑ Ï∞æÏùÑ Ïàò ÏóÜÏäµÎãàÎã§.")

üìÇ Í≤ΩÎ°ú ÌôïÏù∏: /Users/kimjiwoo/Documents/SKN23-2nd-3Team/data/processed/features_ml_clean.parquet
‚úÖ Îç∞Ïù¥ÌÑ∞ Î°úÎìú ÏÑ±Í≥µ!

,user_id,anchor_time,n_events_30d,active_days_30d,n_purchase_30d,purchase_ratio,days_since_last_event,days_since_last_purchase,brand_concentration_ratio,brand_switch_count_30d,total_spend_30d,activity_ratio_15d,price_volatility,n_events_7d,visit_regularity,activity_trend
0,113868975,2020-01-31,17,8,0,0.00,0.446910,31.000000,0.588235,9,0.00,0.705882,0.0,8.0,1.494799,0.470588
1,113868975,2020-02-29,6,5,0,0.00,3.373669,31.000000,0.833333,1,0.00,0.500000,0.0,0.0,5.818645,0.000000
2,113868975,2020-03-31,2,2,0,0.00,23.379780,31.000000,1.000000,0,0.00,0.000000,0.0,0.0,-1.000000,0.000000
3,177507559,2019-12-31,4,1,1,0.25,26.808588,26.808831,1.000000,0,154.16,0.000000,0.0,0.0,0.001010,0.000000
4,178740206,2020-02-29,2,2,0,0.00,13.254109,31.000000,1.000000,0,0.00,0.500000,0.0,0.0,-1.000000,0.000000

In [25]:
df[df['anchor_time'].dt.month == 3]

,user_id,anchor_time,n_events_30d,active_days_30d,n_purchase_30d,purchase_ratio,days_since_last_event,days_since_last_purchase,brand_concentration_ratio,brand_switch_count_30d,total_spend_30d,activity_ratio_15d,price_volatility,n_events_7d,visit_regularity,activity_trend
2,113868975,2020-03-31,2,2,0,0.0,23.379780,31.0,1.0,0,0.0,0.0,0.0,0.0,-1.00000,0.0
22,273568916,2020-03-31,1,1,0,0.0,27.857674,31.0,1.0,0,0.0,0.0,0.0,0.0,-1.00000,0.0
43,299358698,2020-03-31,6,1,0,0.0,2.235324,31.0,1.0,0,0.0,0.0,0.0,0.0,0.01618,0.0
75,322630864,2020-03-31,2,1,0,0.0,5.619167,31.0,1.0,0,0.0,1.0,0.0,2.0,-1.00000,1.0
79,327023582,2020-03-31,1,1,0,0.0,0.653495,31.0,1.0,0,0.0,1.0,0.0,1.0,-1.00000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813534,635003998,2020-03-31,0,0,0,0.0,31.000000,31.0,0.0,0,0.0,0.0,0.0,0.0,-1.00000,0.0
813535,635006916,2020-03-31,0,0,0,0.0,31.000000,31.0,0.0,0,0.0,0.0,0.0,0.0,-1.00000,0.0
813536,635008176,2020-03-31,0,0,0,0.0,31.000000,31.0,0.0,0,0.0,0.0,0.0,0.0,-1.00000,0.0
813537,635010251,2020-03-31,0,0,0,0.0,31.000000,31.0,0.0,0,0.0,0.0,0.0,0.0,-1.00000,0.0
813538,635015432,2020-03-31,0,0,0,0.0,31.000000,31.0,0.0,0,0.0,0.0,0.0,0.0,-1.00000,0.0

In [26]:
df['n_events_30d'].describe()

count    813540.000000
mean          4.171958
std           8.131964
min           0.000000
25%           1.000000
50%           2.000000
75%           4.000000
max        1824.000000
Name: n_events_30d, dtype: float64

In [27]:
df['active_days_30d'].describe()

count    813540.000000
mean          1.376622
std           1.090506
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max          30.000000
Name: active_days_30d, dtype: float64

In [ ]:
# ÌôïÏù∏ÏôÑ
df['n_purchase_30d'].describe()

count    813540.000000
mean          0.828440
std           4.257849
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         512.000000
Name: n_purchase_30d, dtype: float64

In [ ]:
df['purchase_ratio'].describe() # ÌôïÏù∏ÏôÑ

count    813540.000000
mean          0.015323
std           0.043584
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: purchase_ratio, dtype: float64

In [ ]:
df['days_since_last_event'].describe()

count    813540.000000
mean          9.233939
std           7.899547
min           0.000000
25%           2.535749
50%           7.218993
75%          13.888134
max          31.000000
Name: days_since_last_event, dtype: float64

In [31]:
df['days_since_last_purchase'].describe()

count    813540.000000
mean         26.788742
std           8.724339
min           0.000046
25%          31.000000
50%          31.000000
75%          31.000000
max          31.000000
Name: days_since_last_purchase, dtype: float64

In [32]:
df['brand_concentration_ratio'].describe()

count    813540.000000
mean          0.931030
std           0.182285
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: brand_concentration_ratio, dtype: float64

In [33]:
df['brand_switch_count_30d'].describe()

count    813540.000000
mean          0.156160
std           1.253074
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         616.000000
Name: brand_switch_count_30d, dtype: float64

In [34]:
df['total_spend_30d'].describe()

count    813540.000000
mean         39.334346
std         313.066811
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max       68559.010000
Name: total_spend_30d, dtype: float64

In [35]:
df['activity_ratio_15d'].describe()

count    813540.000000
mean          0.507904
std           0.480933
min           0.000000
25%           0.000000
50%           0.500000
75%           1.000000
max           1.000000
Name: activity_ratio_15d, dtype: float64

In [36]:
df['price_volatility'].describe()

count    813540.000000
mean          0.544813
std           7.633177
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         552.094833
Name: price_volatility, dtype: float64

In [37]:
df['n_events_7d'].describe()

count    813540.000000
mean          0.831358
std           3.003381
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         311.000000
Name: n_events_7d, dtype: float64

In [38]:
df['visit_regularity'].describe()

count    813540.000000
mean         -0.030780
std           1.963886
min          -1.000000
25%          -1.000000
50%          -1.000000
75%           0.001137
max          20.887820
Name: visit_regularity, dtype: float64

In [39]:
df['activity_trend'].describe()

count    813540.000000
mean          0.205327
std           0.388268
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: activity_trend, dtype: float64